@mixin input-style {
  font-family: "Raleway";
  font-size: 20px;
  padding-left: 10px;
  color: white;
  border: none;
  background-color: #497482;
  opacity: 0.6;
  border-radius: 3px;
  &:focus {
    outline: none;
    opacity: 1;
  }
}
