$colours: (
  "primary": #63bc73,
  "secondary": #497482,
  "background": #25434d,
);

$font-size: (
  "big": 40px,
  "medium": 25px,
  "small": 18px,
);

$font-size-mobile: (
  "big": 34px,
  "medium": 20px,
  "small": 16px,
);
