@import "variables";

//Global styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: map-get($colours, background);
  color: white;
  font-size: 15px;
}

h1,
h2 {
  color: white;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  background-color: map-get($colours, primary);
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 35px;

  &:hover {
    background-color: black;
    color: white;
  }
}

.btn-secondary {
  background-color: map-get($colours, secondary);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.link-underline {
  margin-top: 1rem;
  border-bottom: 2px solid map-get($colours, primary);

  &:hover {
    border-bottom: 2px solid white;
  }
}

.layout-margin-nav {
  margin: 1rem 10rem;
}

nav {
  & i {
    font-size: 4rem;
    margin-right: 1rem;
    color: map-get($colours, primary);
  }

  & span {
    color: white;
    font-size: 2rem;
  }
}

.form-control {
  margin: 35px 0px;
}

label {
  margin-bottom: 10px;
  color: white;
}

input {
  font-size: 20px;
  padding-left: 10px;
  color: white;
  border: none;
  background-color: #497482;
  opacity: 0.6;
  height: 35px;
  width: 500px;
  border-radius: 3px;
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

//index

.hero-container {
  height: 50vh;
  flex-direction: column;

  & h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  & .sign-in-btn {
    display: inline-block;
    padding: 20px 42px;
    width: 150px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
  }

  & .create-account-btn {
    display: inline-block;
    padding: 20px 22px;
    width: 150px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
  }
}

// sign-in
.margin-p {
  margin: 5rem 0rem 1rem;
}
